astroid==2.4.2
attrs==19.3.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
beautifulsoup4==4.9.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
blis==0.4.0
Bottleneck==1.3.2
brotlipy==0.7.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
cycler==0.10.0
cymem==2.0.2
dataclasses==0.6
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastai==1.0.61
fastprogress==0.2.2
Flask==1.1.2
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446408836/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1594210135340/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1593235460530/work
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1592619900914/work
Jinja2==2.11.2
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonschema==3.0.2
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1594732094290/work
jupyter-core==4.6.3
jupyterlab==2.2.0
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1592846017414/work
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1594078842924/work
numexpr==2.7.1
numpy==1.18.5
olefile==0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1592841632039/work
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307325547/work
plac @ file:///tmp/build/80754af9/plac_1594261912720/work
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.6.1
pylint==2.5.3
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
scipy @ file:///tmp/build/80754af9/scipy_1592930510235/work
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.0.1
spacy @ file:///tmp/build/80754af9/spacy_1594303292575/work
srsly==1.0.2
terminado==0.8.3
testpath==0.4.4
thinc @ file:///tmp/build/80754af9/thinc_1594251958630/work
toml==0.10.1
torch==1.5.1
torchvision==0.6.0a0+35d732a
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.9
wasabi==0.6.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
